<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="fragments/header" :: top></header>
<section>
    <h1>Welcome <span th:text="${name}"></span>!</h1>
    <h3>Your number is <span th:text="${number}"></span></h3>
</section>
<footer th:replace="fragments/footer" :: bottom></footer>
</body>
</html>